version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: security-target
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: target_db
    ports:
      - "5458:5432"

volumes:
  postgres_data:
